.ocultar {
  display: none;
}

.bg-blue {
  background-color: #0a3d62;
}

.bg-blue-claro {
  background-color: #60a3bc;
}

.no-btn {
  background-color: inherit;
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  height: 100%;
}

.no-btn:hover {
  border-bottom: 5px solid #60a3bc;
  font-size: 1.3em;
}

.badge-blue {
  color: white;
  background-color: #6a89cc;
}

.btn-blue {
  color: #212529;
  background-color: #6a89cc !important;
  border-color: #4a69bd;
}

.btn-blue:hover {
  color: #212529;
  background-color: #3c6382 !important;
  border-color: #4a69bd;
}

.btn-blue:focus, .btn-blue.focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-blue.disabled, .btn-blue:disabled {
  color: #212529;
  background-color: #6a89cc !important;
  border-color: #4a69bd;
}

.input-icon {
  background: #6a89cc !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.card-header-blue {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: /*rgba(106, 137, 204, 0.9)*/#6a89cc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header-sm {
  padding: 1% 1.25rem;
  margin-bottom: 0;
  background-color: /*rgba(0, 0, 0, 0.03)*/ #0a3d62;
  border: none;
  color: white;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.125);*/
}

.card-body-sm {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1%;
}

.card-head-ficha {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  /*background-color: #0a3d62;*/
  /*border-left: 5px solid #0a3d62;*/
  /*border-top: 8px solid #0a3d62;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;*/
}

.card-foot-ficha {
  padding: 0.45rem 1.25rem;
  /*background-color: rgba(0, 0, 0, 0.03);*/
  border-right: 5px solid rgba(0, 0, 0, 0.125);
}

.card-ficha {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-left: 10px solid #0a3d62;
  /*border-radius: 0.25rem;*/
  /*border-top: 1px solid rgba(0, 0, 0, 0.125);*/
  border-bottom: 5px solid rgba(10, 61, 98, 0.125);
}
